---

- hosts: all
  gather_facts: no
  tasks:
    - name: TEST
      file:
        path: /tmp/gk_test
        state: directory
      delegate_to: 18.144.15.30
      
    #- name: copy
      #copy:
        #src: "/var/lib/awx/test.txt"
        #dest: "/tmp/test.txt"
        #remote_src: yes
      #delegate_to: localhost
      
    - name: Debug
      shell: "touch ~/gk_test"
      delegate_to: 18.144.15.30
